* {
    margin: 0;
    padding: 0;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    transform: scale(1.5);
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}

#icon {
    width: 80px;
}

em {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: #fff;
    -webkit-text-stroke: 1px #000;
}

.menu {
    position: absolute;
    z-index: 10;
    top: 0;
    left: -55vw;
    background-color: lightsteelblue;
    height: 100vh;
    transition: left .5s;
}

.menu div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}

.menu h2 {
    margin-right: 45px;
    padding: 10px;
}

.link {
    display: flex;
    justify-content: center;
}

.link a {
    position: absolute;
    bottom: 0;
}

[alt="github"] {
    width: 30px;
}

svg {
    cursor: pointer;
    width: 30px;
    position: absolute;
    top: 110px;
    right: 10px;
}
